/* Typography scales */
/* 4.209rem/67.34px	    3.157rem/50.52px	2.369rem/37.90px	1.777rem/28.43px	1.333rem/21.33px	1rem/16.00px	0.75rem/12.00px	 0.563rem/9.00px	0.422rem/6.76px	 */

/* Color pallet */
/* Primary #20c997  | Shade #099268 #087f5b #12b886 | Tinit #c3fae8 #96f2d7 #63e6be #38d9a9 
Grey #343a40  
Secondary  #ff6b6b  | Shade  #f03e3e #e03131 #c92a2a | Tinit #fa5252  #ff8787 #ffa8a8 #ffc9c9 #ffe3e3 #fff5f5 */

.btn{
    font-size:1rem;
    padding: 12px 24px;
}

.btn:link,
.btn:visited{
    background-color: #099268;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border-radius: 200px;
}

.btn:hover,
.btn:active{
    background-color: #12b886;
}
