/* Importing reste styles */
@import url("reset.css");

/* Importing typography styles */
@import url("typography-styles.css");

/* Importing button styles */
@import url("button.css"); 

/* Typography scales */
/* 4.209rem/67.34px	    3.157rem/50.52px	2.369rem/37.90px	1.777rem/28.43px	1.333rem/21.33px	1rem/16.00px	0.75rem/12.00px	 0.563rem/9.00px	0.422rem/6.76px	 */

/* Color pallet */
/* Primary #087f5b   | Shade #099268  | Tinit #c3fae8 #96f2d7 #63e6be #38d9a9  #12b886
Grey #343a40  
Secondary  #ff6b6b  | Shade  #f03e3e #e03131 #c92a2a | Tinit #fa5252  #ff8787 #ffa8a8 #ffc9c9 #ffe3e3 #fff5f5 */

/* Font is Goodle Poppins */


html{
    scroll-behavior: smooth;
}

/* SCROLL UP */
.scroll-up{
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #087f5b;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    line-height: 38px;
    z-index: 999;
    border-radius: 6px;
    cursor: pointer;
}

.scroll-up i{
    font-size: 2rem;
    margin-top: 4px ;
    color: white;
}

/* UPPER ADD SECTION */

.upper-add{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #087f5b;
    height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #c3fae8;
    letter-spacing: 1px;
    font-size: 1rem;
}
.upper-add-singup{
    margin-left: 15px;
    cursor: pointer;
    color: #fff5f5;
}

/* NAV SECTION */
nav{
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    border-bottom: 1px solid rgb(233, 233, 233);
}

nav .logo{
    margin: 16px 5px;
    font-size: 1.777rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.menu{
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
}

.menu li{
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.222rem;
}

.menu li:hover{
    color: #12b886;
    transform: scale(1.1);
}

.menu span{
    margin-right: 5px;
}

.menu a{
    text-decoration: none;
}

.menu a:link,
.menu a{
    color: #343a40;
}

.menu a:hover,
.menu a:active{
    color: #12b886;
}

.active{
    color: #087f5b;
}


/* Container */
.container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 4fr;
    grid-template-areas:
    "INTRO INTRO"
    "SECTION ASIDE";
}

.intro{
    grid-area: INTRO;
    align-self: flex-start;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro .welcome{
    font-size: 0.9rem;
}

.secondary-color{
    color: #ff6b6b;
    cursor: pointer;
}

.title{
    font-size: 1.333rem;
    font-weight: 500;
    padding-top: 15px;
    margin-bottom: 20px;
}

.quote{
    line-height: 1.5;
}

figcaption{
    font-size: 1rem;
    color: #ff6b6b;
    margin-bottom: 20px;
}

.typing1{
    color:#087f5b;
}

/* MAIN */
.app-section{
    grid-area: SECTION;
    min-height: 55vh;
}

.main-post{
    box-shadow: 0px 0px 5px #97cebf;
    padding: 20px;
    width: 90%;
    height: 240px;
    margin: 20px;
    display: flex;
    min-width: 400px;
}

.main-post img{
    width: 100%;
    max-width: 350px;
    min-width: 50px;
    height: auto;
    object-fit: contain;
    border-right: 1px solid lightgray;
    padding-right: 20px;
}

.grouper{
    margin-left: 20px;
}

.date{
    color: #ff6b6b;
    font-size: 0.8rem;
}

.main-post-title{
    color: #099268;
    font-weight: 500;
    font-size: 1.333rem;
    margin: 15px 0;
}

.details{
    font-size: 1rem;
    line-height: 1.5;
}

.details::after{
    content: "continue reading";
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    color: #099268;
    margin-top: 30px;
}

/* SIDE SECTION */
.side-title{
    margin-bottom: 15px;
    margin-top: 10px;
}

.post-card{
    margin-bottom: 20px;
}

.post-car-title{
    font-size: 1.222rem;
    letter-spacing: -1px;
    color:#ff6b6b;
    margin: 6px 0px;
    cursor: pointer;
}

.author{
    font-size: 0.8rem;
    color: rgba(95, 93, 93, 0.59);
}

aside{
    grid-area: ASIDE;
    visibility: hidden ;
    border-bottom: 2px solid #087f5b;
    border-top: 2px solid #087f5b;
    background-color: #f7f7f7;
    padding: 0 10px;
    align-self: flex-start;
}

/* FOOTER */
footer{
    border-top: 0.8px solid #12b886;
    margin-top: 100px;
}

.footer{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas:
    "SOCIAL MAILING"
    "RIGHTS RIGHTS";
}

.social{
    grid-area: SOCIAL;
    margin: 0 auto;
}

.mailing{
    grid-area: MAILING;
    margin: 0 auto;
}

.rights{
    grid-area: RIGHTS;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(109, 108, 108);
}

.contact{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.333rem;
    margin-top: 20px;
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    padding-bottom: 20px;
    color: #111;
}

.contact::after{
    content: "get in touch";
    display: block;
    position: absolute;
    transform: translateX(-50%);
    bottom: -5px;
    left: 50%;
    padding: 0 5px;
    font-size: 0.9rem;
    background: white;
    color: #ff6b6b;
}

.contact::before{
    content: "";
    width: 180px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #111;
}

.minicard{
    display: flex;
    height: 70px;
    align-items: center;
}

.minicard i{
    font-size: 25px;
    color: #099268;
    padding: 0 20px;
}

.minicard .info .head{
    font-size: 18px;
    font-weight: 600;
    color: #111;
    margin-bottom: 3px;
}

.minicard .info .sub{
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.minicard a{
    color: #099268;
}

/* POSTS */

.posts-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.posts-card{
    display: flex;
    flex-direction: column;
    margin: 35px;
    padding-bottom: 40px;
    border-bottom: 2px solid #12b886;
}

.posts-title{
    font-size: 1.777rem;
    font-weight: 700;
    color: #087f5b;
    margin-bottom: 30px;
}

.posts-img{
    align-self: flex-start;
    margin-bottom: 30px;
    max-height: 20vh;
    width: auto;
    object-fit: cover;
}

.posts-details{
    line-height: 1.4;
}

.posts-adjust{
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 48px;
    }

    .menu li{
        margin-left: 30px;
    }

    aside{
        visibility: visible;
    }

    .upper-add{
        display: flex;
    }

    .scroll-up{
        visibility: visible;
    }
}